<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>ROCK PAPER SCISSOR</h1><br>
    <h1>Enter player names</h1>
    <form class="" action="/names" method="post">
      <div>
        <label for="name">Player_1 Name:</label>
        <input type="text" id="name" name="player_1_name">
      </div>
      <div>
        <label for="name">Player_2 Name:</label>
        <input type="text" id="name" name="player_2_name">
      </div>
      <div class="button">
        <button type="submit">Submit</button>
      </div>

    </form>
  </body>
</html>
